.idea/
.vscode/
*.iml
*.jks
*.keystore
keystore.properties
.android-home/
.firebase-config/
firebase-debug.log
android/.gradle/
android/.gradle-user/
android/.android-user/
android/.kotlin/
android/build/
android/app/build/
android/build_err*.txt
android/emulator.log
android/signing.txt
